#top-bar {
    background-color: #484848;
    height: 50px;
}

#karma-header, .status-text, #top-links, #top-status {
    display: inline-block;

}

.status-text {
    color: #ffffff;
    font-size: .75em;
    padding: .5em;
    padding-left: 1.25em;
}

#top-status {
    padding: 0.55em;
}

#top-links {
    height: 50px;
    position: absolute;
    right: 0;
}

#top-links a {
    color: #FFFFFF;
    display: inline-block;
    float: left;
    height: 100%;
    padding: 1.25em;
    font-size: .75em;
    background-repeat: no-repeat;
    background-position: center;
}

#welcome-link {
    background-color: #717171;
}

#profile-link {
    background-color: #606060;
}

#logoff-link {
    background-color: #545454;
    border-right: 3px solid #343434;
}

#settings-link {
    background-color: #2d2d2d;
    width: 1em;
    background-image: url("img/gear.png");

}

#middle {
    height: 85%;
    position: relative;
    width: 100%;
}

.main-column {
    height: 100%;
    position: absolute;
}

#side-menu {
    background-color: #4c70a6;
    width: 25%;
    left: 0;
    text-align: right;
    padding-right: 2%;
    padding-left: 3%;
    z-index: 5;
}

#results {
    left: 25%;
    padding: 0 1%;
    width: 21%;
    background-color: #FFFFFF;
}

#result-detail {
    background-color: #E8E8E8;
    left: 46%;
    padding: 0.75em .5em 0 1em;
    width: 39%;
    /*overflow: hidden;*/
}

#previous-search {
    background-color: #D8D8D8;
    right: 0%;
    padding: 0 1%;
    text-align: center;
    width: 15%;
    z-index: 15;
}

#previous-search h2 {
    color: #989898;
    font-size: 1em;
}

#previous-search a {
    color: #484848;
}

#search-toggle {
    width: 21px;
    height: 19px;
    background-image: url("img/search-toggle.png");
    position: absolute;
    right: 0.5em;
    top: .25em;
    background-repeat: no-repeat;
}

#previous-toggle {
    width: 21px;
    height: 21px;
    background-image: url("img/previous-toggle.png");
    position: absolute;
    left: .15em;
    top: .25em;
    background-repeat: no-repeat;
}

#side-menu.expanded {
    left: -.5em;
    padding: 0 1.5em;
}

#side-menu.expanded #search-toggle {
    right: 18em;
}

#previous-search.expanded {
    right: 0;
}

#previous-search.expanded #previous-toggle {
    left: 14.5em;
}

#mail-link {
    background-color: #646464;
    background-image: url('img/mail.png');
    padding: 0 2em !important;
}

#footer {
    height: 10%;
    background-color: #484848;
    position: relative;
    z-index: 20;
}

/* iPhone and other smartphones (landscape) */
@media screen and (max-width: 40em) {

    #welcome-link {
        display: none !important;
    }

    #footer {
        height: 12%;
    }

    #middle {
        height: 81%;
    }

    #karma-header img {
        width: 80%;
    }

    #top-bar, #top-links {
        height: 2.5em;
    }

    #top-links a {
        background-size: 1.5em auto;
        padding: 1em 1.25em;

    }

    #top-status {
        padding: 0.35em;
    }

    #side-menu {
        left: -17.75em;
        min-width: 20em;
        z-index: 7;
        padding: 0 2.5em 0 3%;
        width: 35%;
    }

    #side-menu h3 {
        margin-bottom: .5em;
    }

    #result-detail {
        z-index: 1;
    }

    #result-detail.activated {
        z-index: 5;
        padding: 0 2.25em 0 10%;
    }

    #result-detail.activated #star-link {
        right: 2em;
        top: 0;
    }

    #result-detail.activated #back {
        display: block;
        background-image: url("img/back-button.png");
        width: 89px;
        height: 39px;
        margin: 15px 0px;
    }

    #results {
        z-index: 4;
    }

    #results, #result-detail {
        left: 3%;
        padding: 0 9%;
        width: 95%;
    }

    #previous-search {
        padding: 0 6%;
        right: -13.75em;
        width: 16em;
        padding-left: 2.25em;
    }

    #previous-toggle {
        left: 0.5em;
    }

    #search {
        padding-top: 0em;
    }

    #later-link {
        padding-top: 0%;
    }

    #results-list {
        height: 82%;

    }

    .status-text {
        display: none;
    }

    #profile-link, #logoff-link {
        text-indent: -999px;
    }

    #profile-link {
        background-image: url('img/edit-profile.png');
    }

    #logoff-link {
        background-image: url('img/logout.png');
    }

    #mail-link, #logoff-link, #profile-link {
        padding: 1em 1.25em !important;
        width: .25em;
    }

}

/* iPad and other tablets (portrait) */
@media screen and (min-width: 40em) and (max-width: 60em) {
    #side-menu {
        left: -17.5em;
        min-width: 20em;
        z-index: 5;
        padding: 0 2.5em 0 3%;
    }

    #footer {
        height: 12%;
    }

    #results {
        left: 2%;
        padding: 0 2%;
        width: 36%;
        padding-left: 4%;
    }

    .result-listing a {
        font-size: 0.75em;
        line-height: 1em;
    }

    #result-detail {
        width: 59%;
        left: 38%;
        padding: 0.75em 1em 0 2%;
    }

    #previous-search {
        padding-left: 2.5em;
        right: -11.75em;
        width: 14em;
    }

    #previous-toggle {
        left: .5em;
    }

    #previous-search.expanded {
        padding: 0 1%;
    }

    #previous-search.expanded #previous-toggle {
        left: 12.5em;

    }

    #results-list {
        height: 87%;
    }

    .status-text {
        display: none;
    }

    #star-link {
        right: .85em;
        top: 0.25em;
    }

}

/* Pages */
#page {
    background: #FFFFFF !important;
}

#page * {
    font-family: Arial, Helvetica, sans-serif;
}

#page a {
    color: #ff6601;
    text-decoration: none;
}

#page a:hover {
    text-decoration: underline;
}

#page p {
    font-size: 13px;
    color: #777;
    max-width: 520px;
}

#page p.slug {
    padding-left: 35px;
    background: url(/img/icon-notice.jpg) left no-repeat;
}

#page p.slug strong {
    display: block;
}

#page h1 {
    font-weight: bold;
    color: #484848;
    font-size: 38px;
    margin: 0;
    padding: 0;
    float: left;
}

#page h2 {
    font-weight: normal;
    font-style: italic;
    color: #777;
    padding: 0;
    margin: 10px 0 40px;
}

#page hr {
    height: 0px;
    border: none;
    border-bottom: 1px solid #c5c5c5;
    margin: 0;
    padding: 0;
    clear: both;
}

#page {
    padding: 10px;
    background: url(/img/arrows-large.png) bottom right no-repeat;
}

#page .arrows {
    background: url(/img/arrows-small.png);
    width: 96px;
    height: 52px;
    float: left;
    margin-left: 15px;
}

#page ul li {
    color: #777;
    list-style-type: none;
    font-size: 13px;
}

/* home classes */

#page .clear {
    clear: both;
}

#page em {
    font-size: 12px;
}

#page .home-slug {
    max-width: 412px;
    float: left;
    margin: 0 50px 20px 0;
}

#page .page.home-slug h1 {
    font-weight: normal;
    font-size: 38px;
    color: #484848;
    width: 100%;
    line-height: 63px;
}

#page .home-slug p {
    border-left: 1px solid #c5c5c5;
    padding-left: 15px;
    margin-top: 62px;
    line-height: 22px;
}

#page .home-slug.forhire h1 {
    background: url(images/bug-forhire.png) top right no-repeat;
}

#page .home-slug.hiring h1 {
    background: url(images/bug-hiring.png) top right no-repeat;
}

#page .home-slug.researchers h1 {
    background: url(images/bug-researchers.png) top right no-repeat;
}

#page .home-slug.students h1 {
    background: url(images/bug-students.png) top right no-repeat;
}

#page .home-slug.crypto-hoarders h1 {
    background: url(images/bug-crypto.png) top right no-repeat;
}

/* iPad and other tablets (landscape) */
@media screen and (min-width: 985px) {

    #search {
        padding-top: 2.75em;
    }

    #search-toggle, #previous-toggle {
        display: none;
    }

    #later-link a {
        line-height: 1em;
    }

}